@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(../fonts/Poppins-Black.ttf);
}

:root {
    --bg-light: #fff;
    --bg-dark: #000000;
    --bg-footer: #0C1E49;
    --bg-blue: #6D91EE;
    --bg-aboutAs: rgba(109, 145, 238, 0.5);
    --bg_button: #5180F6;
    --bg_button-orang: #EEC04B;
    --bg_button-hov: #0940f7;
    --bg-input-form: #CEDCFF;
    --text-light: #fff;
    --text-dark: #4F4F4F;
    --text-blue: #6D91EE;
    --text-card: #324473;
    --text-reviews: #22366A;
    --text-grey: #333333;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
    font-family: Poppins-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-dark);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 4.5rem;
    font-family: Poppins-Black;
}

h2 {
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 4.5rem;
}

h3 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 6rem;
    font-family: Poppins-Black;
    padding: 0 16px;
}

h4 {
    font-size: 1.29rem;
    font-weight: 700;
    line-height: 1.1rem;
    color: var(--text-blue);
}

h5 {
    font-size: 1.14rem;
    font-weight: 900;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
}

.limit-size {
    max-width: 1199px;
}


.text-card {
    line-height: 1.2rem;
}

.name-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/title-frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: var(--text-blue);
}

/*-------------- button --------------*/
.oval-button {
    width: 280px;
    height: 60px;
    border-radius: 71px;
    border: 0px;
    background-color: var(--bg_button);
    text-transform: capitalize;
    text-align: center;
    color: var(--text-light);
    font-weight: 700;
    font-size: 1.71rem;
}

.oval-button:hover,
.oval-button:active {
    background-color: var(--bg_button-hov);
}




/*================= mobile version 375 px ====================*/
.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*----------------- intro start -----------------*/
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../img/bg-intro_mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    padding: 4vw;
}

#intro .block-logo img {
    width: 343px;
}

#intro .block-button .small-button {
    width: 167px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--bg-blue);
    font-size: 1.7rem;
    font-weight: 200;
    margin: 75px 0 20px 0;
}

#intro .text-intro p {
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    max-width: 552px;
}

/*------------------ intro end ------------------*/


/*----------------- aboutUs start -----------------*/
#aboutUs {
    background-color: var(--bg-aboutAs);
    padding: 50px 0 0 0;
    color: var(--text-light);
}

#aboutUs .container .column-left,
#aboutUs .container .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
}

#aboutUs .container .column-left .text-item .text-aboutUs {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    margin: 0 0 30px 0;
}

#aboutUs .container .column-left .image-item img {
    width: 100%;
    max-width: 419px;
    margin: 0 0 30px 0;
}

#aboutUs .container .column-right {
    background-color: var(--bg-blue);
}

#aboutUs .container .column-right .text-item .text-aboutUs-bolt {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
}

#aboutUs .block-button {
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0;
    background-color: var(--bg-blue);
}

#aboutUs .block-button .oval-button {
    background-color: var(--bg_button-orang);
}

#aboutUs .block-button .oval-button:hover,
#aboutUs .block-button .oval-button:active {
    background-color: var(--bg_button-hov);
}

/*------------------ aboutUs end ------------------*/


/*----------------- services start -----------------*/
#services {
    padding: 7vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#services .servicesSwiper .swiper-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#services .servicesSwiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto 30px auto;
}

#services .servicesSwiper .swiper-wrapper .swiper-slide:nth-child(2),
#services .servicesSwiper .swiper-wrapper .swiper-slide:nth-child(3) {
    display: none;
}


#services .servicesSwiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    max-width: 385px;
    height: 100%;
    object-fit: cover;
}

#services .servicesSwiper .swiper-wrapper .swiper-slide .text-slide {
    max-width: 385px;
    padding: 0 16px 20px 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0 0 30px 30px;
}

#services .servicesSwiper .swiper-wrapper .swiper-slide .text-slide h5 {
    margin: 30px 0 10px 0;
    text-align: start;
}



/*------------------ services end ------------------*/


/*----------------- testymonials start -----------------*/
#testymonials {
    padding: 4vw;
    margin: 0 auto;
}

#testymonials .card-block {
    max-width: 577px;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px auto 0 auto;
    border: 1px solid var(--bg_button);
    border-radius: 40px;
}

#testymonials .card-block .text-item {
    margin: 0 0 0 14px;
}

#testymonials .card-block .text-item .text-card {
    margin: 13px 0 10px 0px;
}

/*------------------ testymonials end ------------------*/



/*----------------- contactUs start -----------------*/
#contactUs {
    padding: 50px 4vw;
    margin: 0 auto;
}


/*--- form-block ---*/
#contactUs .form-block {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}

#contactUs .form-block form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactUs .form-block form input {
    width: 343px;
    height: 56px;
    background-color: var(--bg-input-form);
    border-radius: 61px;
    border: 0px;
    font-weight: 500;
    margin: 0 0 10px 0;
    padding: 0 24px 0 24px;
}

#contactUs .form-block form .formButton {
    width: 168px;
    height: 56px;
    border-radius: 61px;
    border: 1px solid var(--bg_button);
    background-color: var(--bg-light);
    text-transform: capitalize;
    text-align: center;
    color: var(--text-blue);
    font-weight: 400;
    font-size: 1.71rem;
    margin: 20px 0;
}

#contactUs .form-block form .formButton:hover,
#contactUs .form-block form .formButton:active {
    background-color: var(--bg_button-hov);
    color: var(--text-dark);
}


#contactUs .info-block {
    display: table;
    margin: 0 auto;
}

#contactUs .info-block .item-link {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px 0;
}

#contactUs .info-block .item-link a {
    margin: 0 10px;
    font-weight: 500;
}

/*------------------ contactUs end ------------------*/


/*----------------- footer start -----------------*/
#footer {
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-footer);
}

#footer .text-footer a {
    color: var(--text-light);
    font-weight: 200;
}

/*------------------ footer end ------------------*/





/*================= @ media ====================*/
@media (min-width: 768px) {

    /*----------------- intro start -----------------*/
    #intro {
        max-width: 1903px;
        background: unset;
        background-image: url(../img/bg_inrto-left.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
    }

    /*----------------- intro end -----------------*/



    /*----------------- services start -----------------*/
    #services .servicesSwiper .swiper-wrapper .swiper-slide:nth-child(1) {
        margin: 10px 30px 30px auto;
    }

    #services .servicesSwiper .swiper-wrapper .swiper-slide:nth-child(2) {
        display: unset;
    }

    /*----------------- services end -----------------*/


    /*----------------- contactUs start -----------------*/
    #contactUs .form-block form input {
        width: 374px;
    }

    /*----------------- contactUs end -----------------*/
}



@media (min-width: 1024px) {

    /*----------------- intro start -----------------*/
    #intro .block-button .small-button {
        margin: 125px 0 20px 0;
    }

    #intro {
        margin: 0 auto 50px auto;
    }

    /*------------------ intro end ------------------*/


    /*----------------- aboutUs start -----------------*/
    #aboutUs {
        background-color: unset;
        background-image: url(../img/bg_aboutUs-desk.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px 0 0 0;
    }

    #aboutUs .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
    }

    #aboutUs .container .column-left,
    #aboutUs .container .column-right {
        width: 35%;
        padding: 0;
    }

    #aboutUs .container .column-left .text-item .text-aboutUs {
        font-size: 1rem;
        font-weight: 700;
    }

    #aboutUs .container .column-right .text-item .text-aboutUs-bolt {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.3rem;
    }

    #aboutUs .block-button {
        background-color: unset;
    }

    /*------------------ aboutUs end ------------------*/


    /*----------------- services start -----------------*/
    #services .name-section {
        margin: 0 0 50px 0;
    }

    #services .servicesSwiper .swiper-wrapper .swiper-slide {
        margin: 10px 30px 30px auto;
    }

    #services .servicesSwiper .swiper-wrapper .swiper-slide:nth-child(3) {
        display: unset;
    }

    #services .servicesSwiper .swiper-wrapper .swiper-slide:nth-child(3) {
        margin: 10px auto 30px auto;
    }

    /*----------------- services end -----------------*/
}




@media (min-width: 1440px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 6.86rem;
        font-weight: 900;
        line-height: 6.5rem;
    }

    h2 {
        font-size: 6.86rem;
        font-weight: 200;
        line-height: 6.5rem;
    }

    h3 {
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 5rem;
    }

    h4 {
        font-size: 1.29rem;
        font-weight: 700;
        line-height: 1.1rem;
    }

    h5 {
        font-size: 1.14rem;
        font-weight: 900;
        line-height: 1.2rem;
    }


    .text-aboutUs {
        font-size: 1.29rem;
        font-weight: 600;
        line-height: 1.2rem;
    }

    .text-aboutUs-bolt {
        font-size: 1.29rem;
        font-weight: 700;
        line-height: 1.2rem;
    }

    /*-------------- button --------------*/
    .oval-button {
        height: 86px;
    }


    /*-------------- testymonials start --------------*/
    #testymonials .name-section {
        background-size: 100%;
        width: 460px;
        height: 120px;
        margin: 0 auto;
    }

    #testymonials .container {
        display: ruby-text;
        justify-content: center;
        align-items: center;
    }

    #testymonials .container .card-block {
        width: 500px;
    }


    /*-------------- testymonials end --------------*/


    /*----------------- contactUs start -----------------*/
    #contactUs .name-section {
        background-size: 100%;
        width: 370px;
        height: 90px;
        margin: 0 auto;
    }

    #contactUs .container {
        display: flex;
        justify-content: center;
        align-items: top;
    }

    #contactUs .form-block {
        width: 50%;
    }

    #contactUs .info-block {
        margin: 80px auto 0 auto;
    }

    /*----------------- contactUs end -----------------*/
}